#parent {
    display: table;
    height: 9%;
    width:100%;    
    color: white;
    background: #181A1D;
    &.selected {
        background: #2BC987 ;
        height: 10%;
    }
}

#child {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
}