.top-header {
    width:100%; 
    height:50px; 
    background:black;
    color: white;
    font-size: 20px;
    padding: 10px;
}


.left-panel {
    border: 1px solid black;
    width:200px;
    height: calc(100vh - 50px);
    float: left;
    background: #181A1D;
}

.main-panel {
    border: 1px solid black;
    width: 100%;
    height: calc(100vh - 50px);
    background: #181A1D;
    color: white;
}

.round{
    width:10%;
}


.race{
    width:25%;
}

.winner{
    width:25%;
}

.team{
    width:20%;
}

.time{
    width:20%;
}

table{
    width: calc(100% - 200px);    
    height: 100%
}

td, th {
    border: 1px solid black;
    text-align: center;
}

th {
    height: 30px;
}

.active {
    background: #2BC987;
}

