<div class="top-header">
  Mobiquity F1 App
</div>

<div class="left-panel" >
  <ng-container *ngFor="let item of items;">
    <app-item [item]="item" (selectItem)="itemSelected($event)"></app-item>
  </ng-container>
</div>

<div class="main-panel">
  <table>
    <thead >
      <th class="round">Round</th>
      <th class="race">Race</th>
      <th class="winner">Winner</th>
      <th class="team">Team</th>
      <th class="time">Time</th>
    </thead>

    <tbody>
        <tr *ngFor="let item of yearData" [class.active]="isWinner(item)">
        <td class="round">{{item.round}}</td>
        <td class="race">{{item.raceName}}</td>
        <td class="winner">
          {{item.Results[0].Driver.givenName}} {{item.Results[0].Driver.familyName}}
        </td>
        <td class="team">{{item.Results[0].Constructor.name}} </td>
        <td class="time">{{item.Results[0].Time.time}}</td>
      </tr> 
    </tbody>
  </table>
</div>
